<html>
<head>
	<title>My Recipe</title>
</head>
<body>
	<h1 style="padding-top: 2%; text-align: center; ">-- My Recipe --</h1>

	<form style="text-align: center; padding-top: 3%" method="POST">

	{% csrf_token %}

	<label>
		Name of Dish:
	</label>
	<input 
		type="text" 
		id="NameofDish" 
		name="NameofDish" 
		placeholder="Please Enter Name of Dish" 
		size="19px" >

	<br><br><br>

	<label>
		Name:
	</label>
	<input 
		type="text" 
		id="Name" 
		name="Name" 
		placeholder="Please Enter Your Name" 
		size="26px" >

	<br><br><br>

	<input type="submit" id="Create" value="Create" name="Create">

	

</form>
	<p style="padding-left: 32%; padding-top: 5%">Recently Added: </p>

	<table id="DishName" style="padding-left: 34%; padding-top: 1%">
		{% for dish in newDishName %}

		<tr>
			<td>{{forloop.counter}}:) {{dish.text}}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>