<html>
<head>
	<title>My Recipe</title>
</head>
<body>
	<h1 style="padding-top: 2%; text-align: center; ">-- My Recipe --</h1>

	<form style="text-align: center; padding-top: 3%" method="POST">

	{% csrf_token %}

	<label>
		Name of Dish:
	</label>
	<input 
		type="text" 
		id="NameofDish" 
		name="NameofDish" 
		placeholder="Please Enter Name of Dish" 
		size="19px" >

	<br><br><br>

	<label>
		Name:
	</label>
	<input 
		type="text" 
		id="Name" 
		name="Name" 
		placeholder="Please Enter Your Name" 
		size="26px" >

	<br><br><br>

	<input type="submit" id="Create" value="Create" name="Create">

	

</form>

	<table id="DishName" style="padding-left: 40%; padding-top: 5%">
		<tr>
			<td>1:{{newDishName}}</td>
			<td>by</td>
			<td>{{newName}}</td>
		</tr>
	</table>
</body>
</html>