<html>
<head>
	<title>My Recipe</title>
</head>

<style>
th {  
  border: 3px dashed white;
  padding: 10px;
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  margin-left: 25%;
  margin-right: 25%
}

td{
  text-align: center;
  width:30%;
}

</style>

<body style="background-color:#FFA07A">
	<br>
	<h1 style="padding-top: 2%;
		padding-bottom: 2%; 
		border: 3px dashed white;
  		text-align: center">-- My Recipe --</h1>

	<form style="text-align: center; padding-top: 3%" method="POST" action="/MyRecipeApp/new">

	<label>
		Name:
	</label>
	<input 
		type="text" 
		id="fName" 
		name="fName" 
		placeholder="Please Enter Your Name" 
		size="26px" >

	<br><br><br>

	<label>
		Name of Dish:
	</label>
	<input 
		type="text" 
		id="NameofDish" 
		name="NameofDish" 
		placeholder="Please Enter Name of Dish" 
		size="19px" >

	<br><br><br>

	<label>
		Main Recipe:
	</label>
	<input 
		type="text" 
		id="MainRecipe" 
		name="MainRecipe" 
		placeholder="Please Enter Main Recipe" 
		size="20px">

	<br><br><br>

	

	<input type="submit" id="Continue" value="Continue" name="Continue">

	{% csrf_token %}

	

</form>
	<p style="margin-left: 25%;padding-left: 2%;padding-top: 1%;padding-bottom: 1% ;border: 3px dashed white; width: 18%; position: center">Recently Added: </p>

	<table id="recipe">
		
		<tr>
			<th>Name of Dish</th>
			<th>Owner of Recipe</th>
		</tr>
		{% for dish in dishes %}
		<tr>
			<td>{{ dish.rNameofDish }}</td>
			<td> {{ dish.rName }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>


